[Unit]
Description=offandonagain.org daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offandonagain-org
Environment=NODE_ENV=production
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
